# .gitconfig
[include]
    path = ~/.gitconfig.user

[core]
    autocrlf = input
    editor = code --wait
    fileMode = true

[alias]
    br = branch

    type = cat-file -t
    dump = cat-file -p

    co = checkout

    ci = commit
    carn = commit --amend --reset-author --no-edit

    lasttag = describe --tags --abbrev=0

    df = diff
    dc = diff --cached
    dlc = diff --cached HEAD^
    wdiff = diff --color-words

    gr = grep -I

    ls = log --pretty=format:'%C(auto)%h%d %s %C(bold blue)[%cn]' --decorate
    lds = log --pretty=format:'%C(auto)%h %ad%d %s %C(bold blue)[%cn]' --decorate --date=iso
    ll = log --pretty=format:'%C(auto)%h%d %s %C(bold blue)[%cn]' --decorate --numstat
    hist = log --pretty=format:'%C(auto)%h%d %s %C(bold blue)[%cn]' --graph --date=iso
    dl = "!git ll -1"
    lnc = log --pretty=format:'%h %s [%cn]' # WITHOUT COLOR
    le = log --oneline --decorate
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    fl = log -u
    lc = log ORIG_HEAD.. --stat --no-merges
    lg = log -p
    lfu = log --pretty=fuller

    who = shortlog -s --

    st = status -sb
    stat = status

[branch]
    autoSetupRebase = always

[browser "default-browser"]
    # In Cygwin, git-web--browse script, which eventually executes
    #     cygstart "$@",
    # fails if the argument includes white space characters.
    # To avoid this, replace cygstart to a real browser path.
    cmd = 'C:\\Program Files (x86)\\Fenrir Inc\\Sleipnir5\\bin\\Sleipnir.exe'
    #cmd = cygstart

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[color]
    ui = auto

[diff]
    tool = vscode

[difftool]
    prompt = false

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[help]
    browser = default-browser
    format = man

[merge]
    tool = vscode

[mergetool]
    keepBackup = false
    prompt = false

[mergetool "vscode"]
    cmd = code --wait $MERGED

[pull]
    ff = only

[push]
    default = current

[web]
    browser = default-browser
[winUpdater]
    recentlySeenVersion = 2.17.0.windows.1
[gui]
    encoding = utf-8
    tabsize = 4
