# .gitignore for dotfiles

# .ipython
.ipython/README
.ipython/*/db/
.ipython/*/history.sqlite

# .jupyter
.jupyter/migrated

# .matplotlib
.matplotlib/fontList.json

# XML
.resolver/CatalogManager.properties.*.bak

# VS Code
.config/Code/User/workspaceStorage
.config/Code/User/globalStorage
