# .inputrc

# base-files version 3.9-3

# To pick up the latest recommended .inputrc content,
# look in /etc/defaults/etc/skel/.inputrc

# Modifying /etc/skel/.inputrc directly will prevent
# setup from updating it.

# The copy in your home directory (~/.inputrc) is yours, please
# feel free to customise it to create a shell
# environment to your liking.  If you feel a change
# would be benifitial to all, please feel free to send
# a patch to the cygwin mailing list.

# Allow 8-bit input/output
# on に設定すると 8 bit での入力が可能になる
# どちらか一方でよいが
set meta-flag on
set input-meta on

# on に設定すると、8 bit 目が立っている文字に対し、
# 8 bit 目を削除してエスケープ記号を付け、ASCII シーケンスに変換する
set convert-meta off

# on に設定すると、文字は 8 bit 目が設定されたままの状態で表示される
set output-meta on

#$if Bash
  # Don't ring bell on completion
  #set bell-style none

  # or, don't beep at me - show me
  #set bell-style visible

  # Filename completion/expansion
  #set completion-ignore-case on
  #set show-all-if-ambiguous on

  # Expand homedir name
  #set expand-tilde on

  # Append "/" to all dirnames
  #set mark-directories on
  #set mark-symlinked-directories on

  # Match all files
  #set match-hidden-files on

  # 'Magic Space'
  # Insert a space character then performs
  # a history expansion in the line
  #Space: magic-space
#$endif

# ???
#set kanji-code sjis
