# .inputrc: readline initialization file.

# base-files version 3.9-3

# The latest version as installed by the Cygwin Setup program can
# always be found at /etc/defaults/etc/skel/.inputrc

# Modifying /etc/skel/.inputrc directly will prevent
# setup from updating it.

# The copy in your home directory (~/.inputrc) is yours, please
# feel free to customise it to create a shell
# environment to your liking.  If you feel a change
# would be benifitial to all, please feel free to send
# a patch to the cygwin mailing list.

# HINT: To source this settings, press C-x C-r or execute:
# bind -f ~/.inputrc

# Allow 8-bit input/output
set meta-flag on
set convert-meta off
set input-meta on
set output-meta on

$if Bash
  # Don't ring bell on completion
  set bell-style none

  # Attempt to briefly move the cursor to an opening parenthesis when a closing
  # parenthesis is inserted.
  set blink-matching-paren on

  # Display the common prefix of the set of possible completions using a
  # different color when listing completions.
  set colored-completion-prefix on

  # Display possible completions using different colors to indicate their file
  # type. See also visible-stats.
  set colored-stats on

  # The string that is inserted when the insert-comment command is executed.
  set comment-begin "#"

  #set completion-display-width -1

  # Make readline perform filename matching and completion in a
  # case-insensitive fashion.
  set completion-ignore-case on

  # Identify hyphens and underscores?
  # See also completion-ignore-case.
  set completion-map-case on

  # The length in characters of the common prefix of a list of possible
  # completions that is displayed without modification.
  set completion-prefix-display-length 2

  # Determine when the user is queried about viewing the number of possible
  # completions generated by the possible-completions command.
  set completion-query-items 80

  #set enable-keypad on
  #set enable-meta-key on

  # Expand homedir name
  #set expand-tilde off

  #set history-preserve-point off
  #set history-size 500
  #set horizontal-scroll-mode off

  # The duration readline will wait for a character when reading an ambiguous
  # key sequence.
  set keyseq-timeout 50

  # Append "/" to all dirnames
  set mark-directories on
  set mark-modified-lines on
  set mark-symlinked-directories on

  # Match all files
  #set match-hidden-files on

  #set page-completions on
  #set print-completions-horizontally off
  #set revert-all-at-newline off

  set show-all-if-ambiguous off
  set show-all-if-unmodified off
  #set show-mode-in-prompt off
  #set skip-completed-text off

  # Append a character denoting a file's type as reported by stat(2) to the
  # filename when listing possible completions.
  set visible-stats on

  # 'Magic Space'
  # Insert a space character then performs
  # a history expansion in the line
  #Space: magic-space

  #Tab: menu-complete
$endif
